#page{
    width: 100%;
    height: 100%;
    text-align: center;
}
#mainPanel{
    margin: 0 auto;
}
.box{
    border:2px #ffffff groove;
    float: left;
    cursor: pointer;
    background-image: url(../images/environment/qm.png);
    background-repeat: no-repeat;
    background-position: center;
}
.image{ 
    display:none;
    cursor: pointer;
}
#formDialog{
    width: 700px;
}
#startButton{
    margin-top: 20px;
    width: 180px;
    float: right;
}
.form-input{
    width: 100px;
}
#errorPanel{
    background-color: antiquewhite;
    color: red;
    font-size: 12px;
}
#headerTable{
    width: 100%;
    border-width: 0px;
}
#headerCenter{
    background-image: url(../images/header/center.jpg);
    background-repeat: repeat-x;
    height: 120px;
    width: 100%;
}
#headerLeft{
    width: 10px;
}
#headerright{
    width: 10px;
}
